/.appspot-change
/.classpath
/.project
/.settings
/ant-docs
/ant-eclipse-genfiles
/ant-eclipse-lib
/ant-gwtlib
/ant-instr
/ant-jars
/ant-lib
/ant-maven
/ant-precajolelib
/ant-precajolelib-test
/ant-reports
/ant-testlib
/ant-war
/ant-www
/gwt-unitCache
/war
