<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <welcome-file-list>
    <welcome-file>Playground.html</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>GWTCajolingServlet</servlet-name>
    <servlet-class>com.google.caja.demos.playground.server.GWTCajolingServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CajolingServlet</servlet-name>
    <servlet-class>com.google.caja.service.CajolingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PrecajoleInfoServlet</servlet-name>
    <servlet-class>com.google.caja.service.PrecajoleInfoServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>GWTCajolingServlet</servlet-name>
    <url-pattern>/playground/cajole</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CajolingServlet</servlet-name>
    <url-pattern>/cajole</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrecajoleInfoServlet</servlet-name>
    <url-pattern>/precajole/info</url-pattern>
  </servlet-mapping>
</web-app>
