<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<!--
  See the file LICENSE.txt in this directory for license information for the
  Caja Corkboard demo.
  
  @author kpreid@switchb.org
-->
<html>
<head>
  <title>Caja Corkboard Demo</title>
  <link rel="stylesheet" href="http://caja.appspot.com/caja-gadget.css">
  <link rel="stylesheet" href="r/style.css">

  <!-- Caja runtime loader -->
  <script src="{{ cajaServer|escape }}caja.js" type="text/javascript"></script>
  
  <!-- Tool to take many quoted cajoled scripts and attach them to elements in
       the page -->
  <script src="r/embedded-scripts.js" type="text/javascript"></script>
</head>
<body onload="loadScripts('{{ cajaServer|escapejs|escape }}')">

<h1>Caja Corkboard Demo</h1>

{%if newer %}<p class="paging" style="clear: both;">
  <a href="{{ newer|escape }}">Newer Postings &uarr;</a>
  <a href="./">Latest &#x21D1;</a>
</p>{% endif %}

{% for posting in postings %}
  <div class="posting{% if posting.cajole.error %} cajoling-error{%endif%}">
    <!-- vdoc-body___ indicates the root of a Caja gadget and applies styles 
         needed for full sandboxing. It is automatically applied by
         sandbox.attach(), but including it here is needed for the client-is-
         not-running-JavaScript case and for before Caja has loaded. -->
    <blockquote class="posting-content vdoc-body___"
                id="pc-{{ forloop.counter }}">
      {{ posting.cajole.html }}
    </blockquote>
    <p class="signature">
      &mdash; 
      <span class="author">
      {% if posting.author %}
        {{ posting.author.nickname|escape }}{% else %}
        Anon{% endif %}</span>, {{ posting.dateModified|escape }}
    </p>
    <!-- embedded-scripts.js defines registerForScript so that the Caja-module
         in the second argument gets attached to the element whose id is the
         first element, after the Caja runtime has been loaded by
         loadScripts() above. -->
    <script type="text/javascript">
      registerForScript("pc-{{ forloop.counter }}",
        "{{ posting.cajole.js|escapejs|escape }}"
      );
    </script>
    <div class="buttons">
      <form action="/posting/{{ posting.key|urlencode|escape }}/edit"
            method="GET"
        ><input type="submit" value=
          "{% if posting.editable %}Edit{% else %}View Source{% endif %}"
        ></form>
      {% if posting.editable %}
      <form action="/posting/{{ posting.key|urlencode|escape }}/delete"
            method="POST"
        ><input type="submit" value="Delete"></form>
      {% endif %}
    </div>
  </div>
{% endfor %}

<form class="posting" action="/post" method="POST">
  <textarea name="content" rows="5" cols="60"></textarea>
  <p class="signature">
    &mdash; <span class="author">
      {% if user %}
        {{ user.nickname|escape }}
      {% else %}Anon{% endif %}
    </span>
    (<a href="{{ account_url|escape }}">{{ account_link|escape }}</a>), just now
    </p>
  <div class="buttons"><input type="submit" value="Post This" /></div>
</form>

{%if older %}<p class="paging" style="clear: both;">
  <a href="{{ older|escape }}">Older Postings &darr;</a>
</p>{% endif %}

<div style="clear: both;">
  <p>This is a <a href="http://code.google.com/p/google-caja/">Caja</a> demo.
  You can enter any HTML you like, and it will display as well as we currently
  support and yet not allow you to take over anyone else's postings or otherwise
  disrupt the application (other than by making the page load slower or hang).
  </p>
  
  <p><a href="http://www.flickr.com/photos/8078381@N03/2322844071/">Background
  image by Parée Erica</a> (used under Creative Commons Attribution license).
  </p>
  
  {%if user_is_admin %}
  <a href="/admin/">Admin</a>
  {% endif %}
  
</div>

</body></html>