/* Missing ; */
@import 'screenfoo.css' screen
@import 'foo.css';
/* Missing semicolon causes bar.css to be discarded, but not baz.css */
@import 'bar.css'
@import 'baz.css';
@import 'boo.css';
/* cruft in media list */
@import 'far.css' screen, print,;
/* URI() instead of URL() */
@import uri() screen;

/* Extraneous semicolon */
;

@bogus hello {
  balanced { curly "brackets" };
}

/* Not treated as part of the bogus symbol block */
* { color: red }

@unknown('hi');

/* list applies to body, input, and td.  Extraneous , skip. */
body, input, , td {
  /* missing property name causes skip until ; */
  Arial, sans-serif;
  color: blue;
  /* missing value.  skipped. */
  background-color:
}

/* thrown out since it's missing a close curly */
@media aural {
  b { volume: s-loud } 

/* not thrown out, but 2 digit color is discarded */
@media print {
  * { color: black !important; background-color: #ff }
}

@media @media ok {}
@media borken @media ok {}
@media borken } @media ok {}

@page {}  /* ok */
@page :{broken { margin-left: 4cm; }  /* extra { */ 
@page .broken {}  /* no colon */
@page :{}  /* no pseudo-page */
@page :broken {  /* missing '}' */
@page :left { margin-left: 4cm; size: 8.5in 11in; }  /* ok */

/* missing property */
body { : blue }

/* declaration outside ruleset */
color: blue;

a:visited, :unvisited, a::before { color: blue }

/* not a valid wildcard wiseguy */
? { color: blue }

/* lots of invalid selectors */
.3, #333, a[href='foo', a[href=], a[='foo'], body:, ok {}

/* all invalid selectors */
#333, .3, .,  {}

/* valid selectors missing a body */
a, b, i, p, q, s, u, ;

/* expression cruft. Make sure parsing before and after ok. */
a1 { a: ok;  color: red:;              a: ok }  /* cruft after : */
a2 { a: ok;  width: 0 !import;         a: ok }  /* !important misspelled */
a3 { a: ok;  unicode-range: U+0-FFFF;  a: ok }  /* ok */ 
a4 { a: ok;  color: #g00;              a: ok }  /* bad hex digit */
a5 { a: ok;  image: url('::');         a: ok }  /* malformed URI */
a6 { a: ok;  image: url(::);           a: ok }  /* malformed URI */

/* functions allow for lots of mischief */
a7 { a: ok;  font-size: expression(Math.random());  a: ok }  /* ok.  TODO */
a8 { a: ok;  font-size: expression(Math.random();   a: ok }  /* missing paren */
a9 { a: ok;  font-size: expression();               a: ok }  /* missing param */
aa { a: ok;  font-size: expression({});             a: ok }  /* bad param */  

@font-face; @font-face {}
@font-face @font-face { font-family: Letters; src: url('Letters.ttf') }
