/*
 * Examples borrowed from MSDN's "Visual Filters and Transitions Reference"
 * at http://msdn.microsoft.com/en-us/library/ms532853(VS.85).aspx
 */

/* You can assign multiple filters at once. */
p { width:100%; filter:
    progid:DXImageTransform.Microsoft.MotionBlur(strength=13, direction=310)
    progid:DXImageTransform.Microsoft.Blur(pixelradius=2)
    progid:DXImageTransform.Microsoft.Wheel(duration=3); }


/* ************************** Procedural Surfaces ************************** */

/* =========================== AlphaImageLoader ============================ */
p { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(
                src='/workshop/graphics/earglobe.gif', sizingMethod='scale'); }

/* ================================ Gradient =============================== */
p { filter: progid:DXImageTransform.Microsoft.gradient(enabled='false',
                              startColorstr=#550000FF, endColorstr=#55FFFF00) }


/* ***************************** Static Filters **************************** */

/* ================================= Alpha ================================= */
INPUT.aFilter {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);}

/* =============================== BasicImage ============================== */
a { filter: progid:DXImageTransform.Microsoft.BasicImage(mirror=1) }
b { filter: progid:DXImageTransform.Microsoft.BasicImage(invert=1) }
i { filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1) }
p { filter: progid:DXImageTransform.Microsoft.BasicImage(xray=1) }
q { filter: progid:DXImageTransform.Microsoft.BasicImage(mask=1, maskColor=255)}

/* ================================== Blur ================================= */
p{filter:progid:DXImageTransform.Microsoft.blur(pixelradius=3, enabled='false')}

/* ================================= Chroma ================================ */
p { filter:progid:DXImageTransform.Microsoft.Chroma(color='yellow'),
           progid:DXImageTransform.Microsoft.Chroma(color='red') }

/* =============================== Compositor ============================== */
/* N/A */

/* =============================== DropShadow ============================== */
p { cursor:hand;height:160px; padding:10px; font:bold 13pt verdana;
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=5, OffY=5,
                                               Color='gray', Positive='true') }

/* ================================= Emboss ================================ */
p { filter: progid:DXImageTransform.Microsoft.emboss(enabled='false') }

/* ================================ Engrave ================================ */
 p { position:absolute; left:270px;
     filter:progid:DXImageTransform.Microsoft.engrave(enabled='false'); }

/* ================================== Glow ================================= */
DIV.aFilter {
  filter:progid:DXImageTransform.Microsoft.Glow(Color=blue,Strength=5);
  width: 150px;}

/* =============================== ICMFilter =============================== */
/* NONE */

/* ================================= Light ================================= */
.aFilter { filter:progid:DXImageTransform.Microsoft.Light(); }

/* =============================== MaskFilter ============================== */
DIV.aFilter {filter:
  progid:DXImageTransform.Microsoft.MaskFilter(color=magenta);
  width: 100px;}

/* ================================= Matrix ================================ */
p { filter:progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand')}

/* =============================== MotionBlur ============================== */
DIV.aFilter {
  filter:progid:DXImageTransform.Microsoft.MotionBlur(Strength=30,Direction=45);
}

/* ================================= Shadow ================================ */
DIV.aFilter {filter:
  progid:DXImageTransform.Microsoft.Shadow(color=#0000FF,direction=45);
  width: 150px; color: #FF0000;}

/* ================================== Wave ================================= */
DIV.aFilter {FILTER:PROGID:DXIMAGETRANSFORM.MICROSOFT.WAVE(
  strength=2,
  freq=3,
  lightstrength=20,
  add=0,
  phase=90);
  width: 150px; color: #FF0000;background-color:00ffff}

/* ================================== Barn ================================= */
p { height:250px; width:250px; background-color: gold;
    filter:progid:DXImageTransform.Microsoft.Barn(
        duration=2, motion='out', orientation='vertical');
  }


/* ****************************** Transitions ****************************** */

/* ================================= Blinds ================================ */
body {  filter:progid:DXImageTransform.Microsoft.Blinds(direction='down') }

/* ============================== CheckerBoard ============================= */
p { filter:progid:DXImageTransform.Microsoft.CheckerBoard(
        duration=5, direction='left') }

/* ================================== Fade ================================= */
p { height:250px; width:250px; background-color: gold;
    filter:progid:DXImageTransform.Microsoft.Fade( duration=2) }

/* ============================== GradientWipe ============================= */
p { filter:progid:DXImageTransform.Microsoft.gradientWipe(
        duration=3, gradientsize=0.5) }

/* ================================= Inset ================================= */
p { filter:progid:DXImageTransform.Microsoft.Inset( ) }

/* ================================== Iris ================================= */
p{filter:progid:DXImageTransform.Microsoft.Iris(duration=3)}

/* ================================ Pixelate =============================== */
p { width:100px; background-color: lightblue;
                filter:progid:DXImageTransform.Microsoft.Pixelate(
                duration=3, enabled='false'); }

/* =============================== RadialWipe ============================== */
a { filter:progid:DXImageTransform.Microsoft.RadialWipe(duration=2); }

/* =============================== RandomBars ============================== */
img { filter:progid:DXImageTransform.Microsoft.RandomBars(duration=5);}

/* ============================= RandomDissolve ============================ */
u {
  height:250px; width:250px; background-color: gold;
  filter:progid:DXImageTransform.Microsoft.RandomDissolve(duration=3);
}

/* ================================= Slide ================================= */
table {
  height:250px; width:250px; background-color: gold;
  filter:progid:DXImageTransform.Microsoft.Slide(
      duration=3, bands='8');
}

/* ================================= Spiral ================================ */
div { filter:progid:DXImageTransform.Microsoft.Spiral(
                duration=3, GridSizeX=25, GridSizeY=25); }

/* ================================ Stretch ================================ */
b { height:250px; width:250px; background-color: gold;
    filter:progid:DXImageTransform.Microsoft.Stretch(duration=3) }

/* ================================= Strips ================================ */
i { filter:progid:DXImageTransform.Microsoft.Strips(
        duration=5, motion='rightdown'); }

/* ================================= Wheel ================================= */
hr { filter:progid:DXImageTransform.Microsoft.Wheel(
                duration=2, spokes=8); }

/* ================================= Zigzag ================================ */
object { filter:progid:DXImageTransform.Microsoft.Zigzag(
             duration=3, GridSizeX=25, GridSizeY=25); }
