p {
  width: 100%;
  filter: progid:dximagetransform.microsoft.motionblur(strength=13, direction=310) progid:dximagetransform.microsoft.blur(pixelradius=2) progid:dximagetransform.microsoft.wheel(duration=3);
}
p {
  filter: progid:dximagetransform.microsoft.alphaimageloader(src='/workshop/graphics/earglobe.gif', sizingmethod='scale');
}
p {
  filter: progid:dximagetransform.microsoft.gradient(enabled='false', startcolorstr=#550000FF, endcolorstr=#55FFFF00)
}
INPUT.aFilter {
  filter: progid:dximagetransform.microsoft.alpha(opacity=50);
}
a {
  filter: progid:dximagetransform.microsoft.basicimage(mirror=1)
}
b {
  filter: progid:dximagetransform.microsoft.basicimage(invert=1)
}
i {
  filter: progid:dximagetransform.microsoft.basicimage(grayscale=1)
}
p {
  filter: progid:dximagetransform.microsoft.basicimage(xray=1)
}
q {
  filter: progid:dximagetransform.microsoft.basicimage(mask=1, maskcolor=255)
}
p {
  filter: progid:dximagetransform.microsoft.blur(pixelradius=3, enabled='false')
}
p {
  filter: progid:dximagetransform.microsoft.chroma(color='yellow'), progid:dximagetransform.microsoft.chroma(color='red')
}
p {
  cursor: hand;
  height: 160px;
  padding: 10px;
  font: bold 13pt verdana;
  filter: progid:dximagetransform.microsoft.dropshadow(offx=5, offy=5, color='gray', positive='true')
}
p {
  filter: progid:dximagetransform.microsoft.emboss(enabled='false')
}
p {
  position: absolute;
  left: 270px;
  filter: progid:dximagetransform.microsoft.engrave(enabled='false');
}
DIV.aFilter {
  filter: progid:dximagetransform.microsoft.glow(color=blue, strength=5);
  width: 150px;
}
.aFilter {
  filter: progid:dximagetransform.microsoft.light();
}
DIV.aFilter {
  filter: progid:dximagetransform.microsoft.maskfilter(color=magenta);
  width: 100px;
}
p {
  filter: progid:dximagetransform.microsoft.matrix(sizingmethod='auto expand')
}
DIV.aFilter {
  filter: progid:dximagetransform.microsoft.motionblur(strength=30, direction=45);
}
DIV.aFilter {
  filter: progid:dximagetransform.microsoft.shadow(color=#0000FF, direction=45);
  width: 150px;
  color: #FF0000;
}
DIV.aFilter {
  filter: progid:dximagetransform.microsoft.wave(strength=2, freq=3, lightstrength=20, add=0, phase=90);
  width: 150px;
  color: #FF0000;
  background-color: 00ffff
}
p {
  height: 250px;
  width: 250px;
  background-color: gold;
  filter: progid:dximagetransform.microsoft.barn(duration=2, motion='out', orientation='vertical');
}
body {
  filter: progid:dximagetransform.microsoft.blinds(direction='down')
}
p {
  filter: progid:dximagetransform.microsoft.checkerboard(duration=5, direction='left')
}
p {
  height: 250px;
  width: 250px;
  background-color: gold;
  filter: progid:dximagetransform.microsoft.fade(duration=2)
}
p {
  filter: progid:dximagetransform.microsoft.gradientwipe(duration=3, gradientsize=0.5)
}
p {
  filter: progid:dximagetransform.microsoft.inset()
}
p {
  filter: progid:dximagetransform.microsoft.iris(duration=3)
}
p {
  width: 100px;
  background-color: lightblue;
  filter: progid:dximagetransform.microsoft.pixelate(duration=3, enabled='false');
}
a {
  filter: progid:dximagetransform.microsoft.radialwipe(duration=2);
}
img {
  filter: progid:dximagetransform.microsoft.randombars(duration=5);
}
u {
  height: 250px;
  width: 250px;
  background-color: gold;
  filter: progid:dximagetransform.microsoft.randomdissolve(duration=3);
}
table {
  height: 250px;
  width: 250px;
  background-color: gold;
  filter: progid:dximagetransform.microsoft.slide(duration=3, bands='8');
}
div {
  filter: progid:dximagetransform.microsoft.spiral(duration=3, gridsizex=25, gridsizey=25);
}
b {
  height: 250px;
  width: 250px;
  background-color: gold;
  filter: progid:dximagetransform.microsoft.stretch(duration=3)
}
i {
  filter: progid:dximagetransform.microsoft.strips(duration=5, motion='rightdown');
}
hr {
  filter: progid:dximagetransform.microsoft.wheel(duration=2, spokes=8);
}
object {
  filter: progid:dximagetransform.microsoft.zigzag(duration=3, gridsizex=25, gridsizey=25);
}
