<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="com.google.caja.ecajalipse.cajaBuilder"
         name="Caja Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.google.caja.ecajalipse.builder.CajaBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="com.google.caja.ecajalipse.cajaNature"
         name="Caja Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.google.caja.ecajalipse.builder.CajaNature">
         </run>
      </runtime>
      <builder
            id="com.google.caja.ecajalipse.cajaBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="com.google.caja.ecajalipse.cajaBuilder.menuPopUpcontribution">
         <action
               label="Add/Remove Caja Nature"
               class="com.google.caja.ecajalipse.builder.ToggleCajaNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="com.google.caja.ecajalipse.cajaBuilder.addRemoveNatureAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="syntaxErrorProblem"
         name="Caja Syntax Error Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
