@import url('nonsense.css') mumbling, blather;

@font-face { 
  font-family: Arial;
}

@page { background: url('sparkley.jpg'); }
@page hiya:sparkley { background: url('sparkley.jpg') }

FOO > BAR + BAZ {  }
A[href] BOO[zwop |= 'hello']:blinky {
  color: #fff;
  background: +#000000 ! important
}

.myclass[attr ~= almost] #id:hover(languidly) {
  font-weight: super(bold / italic)
}

foo.bar { }

foo .bar { }

foo .quoted { content: 'contains \'quotes\'' }

foo .dquoted { content: "'contains'\\\"double quotes\"" }

foo .long { content: 'spans \
multiple \
lines' }

foo .extended-unicode { content: 'a1 \61\31  \0000611 \000061 1 \0061\0031' }
