.figure {
  margin-left: 0.5in;
}

.note {
  font-family: sans-serif;
  font-size: 9pt;
  border: 1px solid #d0d0d0;
  margin-left: 48pt;
  margin-right: 24pt;
  padding: 6pt;
  background-color: #efffef;
  -moz-border-radius: 5px;
}

.title {
  color: blue;
  font-family: sans-serif;
  font-size: 24pt;
  font-weight: bold;
  text-align: center;
  margin-left: -0.75in;
  margin-bottom: 0.5in;
}

body {
  margin-left: 0.75in;
}

h1,h2,h3,h4,h5,h6 {
  color: blue;
  font-family: sans-serif;
}

h1 {
  margin-left: -0.625in;
  font-weight: bold;
  font-size: 22pt;
}

h2 {
  margin-left: -0.5in;
  font-weight: bold;
  font-size: 18pt;
}

h3 {
  margin-left: -0.25in;
  font-weight: bold;
  font-style: italic;
  font-size: 12pt;
}

code, tt {
  color: darkblue;
}

dl {
  padding: 5px;
  border: 1px solid #d0d0d0;
}

dt {
  margin-top: 5px;
  font-style: italic;
}

dd {
    margin-left: 0.25in;
}

/*
pre {
  color: darkblue;
  border: solid 1px #d0d0d0;
  padding: 10px;
  margin-left: 0.25in;
  margin-right: 0.25in;
  background: #f0f0f0;
}
*/
